:root {
  // primary
  --color-primary: #f4e041;
  --color-primary-hover: #ffe302;

  // secondary
  --color-secondary: #00bdd3;

  // bg
  --color-bg: #f8f8f8;

  // warning
  --color-warning: #cb3d40;

  // white
  --color-white: #fff;

  // gray
  --color-gray-100: #d0cfcf;
  --color-gray-200: #b4b4b4;
  --color-gray-300: #7e7e7e;

  // dark
  --color-dark: #000000de;
  --color-dark-100: #161616;
}
