:root {
  --font-family-primary: 'Nunito', sans-serif;

  // line heights
  --line-height-s: 26px;
  --line-height-l: 40px;

  // font sizes
  --font-size-s: 16px;
  --font-size-l: 40px;

  // font weights
  --font-weight-regular: 400;
}
