.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 16px;

  @media (min-width: '768px') {
    padding: 17px 32px;
  }

  @media (min-width: '1024px') {
    padding: 17px 60px;
  }
}

.logo {
  img {
    display: block;
  }
}

.buttons {
  display: flex;
  gap: 0 10px;
}
